:root {
  --secondary-light-color: #e8a87c45;
  --input-bg-color: #f2f0eb;
  --headerFooter-bg-color: #7fc1ac;
  --light-font: #f4f5f8;
  --secondary-color: #E27D60;
  --dark-color: #545149;
  --primary-bg-color: #F2F0EB;
}

* {
  font-family: 'Nunito', sans-serif !important;
}

.App * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h2 {
  font-weight: 800;
  font-size: 32px;
}

button,
button:hover,
button:active {
  font-size: 20px !important;
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

header {
  background-color: var(--headerFooter-bg-color);
  color: var(--light-font);
}

.delBtnStyle{
  background: var(--secondary-color);
  color: var(--primary-bg-color);
  border: none;
  padding: 5px 8px;
  cursor: pointer,
}

.transaction{
  background-color: rgba(232, 168, 124, 0.11); ;
  margin: .25rem .5rem;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
}

/* All application wide styling go here, e.g. fonts and colors etc */

