:root {
  --secondary-color: #e27d60;
  --primary-bg-color: #f2f0eb;
  --secondary-light-color: #e8a87c45;
  --input-bg-color: #f2f0eb;
}

* {
  font-family: "Nunito", sans-serif !important;
}

.App * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h2 {
  font-weight: 800;
  font-size: 32px;
}

button {
  font-size: 20px !important;
}

button,
button:hover,
button:active {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

/* All application wide styling go here, e.g. fonts and colors etc */
