.balance-display {
  font-size: 20px;
  margin-bottom: 40px;
}

.balance-display td {
  padding-bottom: 13px;
  width: 77%;
}
.balance-display td:first-child {
  font-weight: 700;
}

.balance-display table td:nth-child(2) {
  font-weight: 600;
}
