.expenseform{
    display: grid;
    grid-template-columns: 6fr 3fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

.SaveIcon{
    font-size: 22px;
    color: var(--dark-color);
    margin: 8px;
}

.expenseform{
    background: var(--form-bg-color);
    margin: 1rem !important;
}