.expense{
    height:100vh;
    display: grid;
    grid-template-rows: 2fr 9fr 1fr;
    /* max-width: 500px; */
    margin: 0 auto;
    
}

.bcg{
    background-color: var(--primary-bg-color);
}

.expenseform{
    display: grid;
    height: 25vh;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

button{
    height: 38px !important;
    background-color: var(--secondary-color) !important;
    border: none !important;
}

.expPres{
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-gap: 1rem;
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
}