footer {
  background-color: var(--headerFooter-bg-color);
  color: var(--light-font);
  height: 78px;
  position: relative;
}

#About,
#Privacy,
#copyright {
  position: absolute;
}

#About {
  top: 20px;
  left: 20px;
}

#Privacy {
  top: 20px;
  left: 255px;
}

#copyright {
  top: 52px;
  left: 103px;
  font-size: 12px;
}
