header {
    background-color: var(--headerFooter-bg-color);
    color: var(--light-font);
    height: 155px;
    position: relative;
}

.logo, .welcomeLogo, .userName, .userIcon {
    position: absolute;
}

.logo, .welcomeLogo {
    font-size: 40px;
    font-weight: 700;
    top: 84px;
}

.logo {
    padding: 8px;
    left: 13px;
}

.welcomeLogo {
    left: 141px;
}

.userName {
    font-size: 20px;
    font-weight: 700;
    padding: 6px;
    top: 98px;
    left: 230px;
}

.userIcon {
    height: 20px;
    width: 20px;
    border: 1px solid var(--light-font);
    top: 98px;
    left: 342px;
}