.LandingPage main {
  background: var(--primary-bg-color);
  padding: 38px 35px;
}
.card .card-header {
  background: var(--primary-bg-color);
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.accordion .card {
  border: none !important;
  background-color: transparent;
}
.card .card-body {
  background-color: var(--secondary-light-color);
  padding: 0.25rem;
  margin-bottom: 30px;
}
.form-wrapper {
  width: 100%;
  text-align: right;
}

.form-group {
  font-size: 20px;
  display: flex;
}
.form-group .form-label {
  text-align: left;
  padding: 45px 10px 25px 10px;
}
.form-group input {
  background-color: var(--input-bg-color);
  max-width: 55%;
  border: none;
  border-radius: 2px;
  padding: 25px;
  margin-top: 2rem;
  align-content: space-around;
}
.form-group p {
  margin-top: 2.8rem;
  padding-left: 0.8rem;
}

.form-wrapper button {
  margin: 0 10px 10px 0;
}
