.Page {
  min-height: 812px;
  height: 812px;
  max-height: 812px;
  min-width: 375px;
  width: 375px;
  max-width: 375px;
}

  /* Every page is layed out with 3 fixed position items: 
    <>
        <header>
        <main>
        <footer>
    </>
    Each ...Page component should conform to this expectation. */

.Page > * {
  width: 100%;
  overflow-y: auto;
}

.Page header {
  position: fixed;
  top: 0;
  height: 155px;
}

.Page main {
  position: fixed;
  top: 155px;
  height: 579px;
}

.Page footer {
  position: fixed;
  bottom: 0;
  height: 78px;
}
