.WelcomePage {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
}

.WelcomePage main {
  background: var(--primary-bg-color);
  padding: 88px 21px;
  text-align: center;
}

.WelcomePage h2 {
  margin-bottom: 91px;
}

.WelcomePage form > * {
  margin-bottom: 73px;
}

.WelcomePage input,
.WelcomePage button {
  height: 60px;
}

.WelcomePage input {
  max-width: 100% !important;
  border: 2px solid rgba(127, 193, 172, 0.41) !important;
  background-color: var(--primary-bg-color);
}
