main {
    background: var(--primary-bg-color);
    padding: 88px 21px;
    text-align: center;
}

h2 {
    margin-bottom: 91px !important;
}

form > * {
    margin-bottom: 73px !important;
}

input, button {
    height: 60px !important;
}

.WelcomePage input {
    max-width: 100% !important;
    border: 2px solid rgba(127, 193, 172, 0.41) !important;
    background-color: var(--primary-bg-color);
}

